.theme-skyblue {
    background-color: rgb(92, 169, 220);
}

.sub-header {
    font-weight: bold;
    color: #ffffff;
}

.navbar-header {
    display: flex;
    justify-content: center;
}

.navbar-default {
    background-color: #0079C8;
    border-color: #0079C8;
}

.patient-nav {
    background-color: #ffffff;
    font-weight: lighter;
    text-align: left;
    font-size: large;
    min-height: 66px;
    border-radius: 6px;
    margin: 6px 10px 15px 10px;
}

div.patient-nav > div {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.patient-nav div:nth-child(2) {
    top: 4px;
}

div.patient-notify {
    font-size: small;
    background-color: rgb(249, 220, 224);
    margin-top: 7px;
}

div.patient-notify div:nth-child(2) {
    top: 4px;
    padding-left: 0px;
    padding-right: 10px;
}

div.patient-notify > div {
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 121, 200);
}


.list-view {
    background-color: rgb(246, 252, 255);
    margin-top: 155px;
    padding-left: 10px;
    padding-right: 10px;
}

.zpadding {
    padding: 0;
}

.switcher div:first-child button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.switcher div:nth-child(2) button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pharmacy {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px 0px #82B8D3;
    padding: 10px;
    margin: 1px;
    margin-bottom: 8px;
}

div.pharmacy-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.pharmacy-distance {
    margin-top: 5px;
    margin-bottom: 10px;
}

div.pharmacy-info div:first-child {
    padding-right: 5px;
}

div.pharmacy-info div:last-child {
    padding-left: 5px;
}

div.pharmacy-info div img {
    padding-bottom: 3px;
    padding-right: 6px;
}

div.pharmacy-status {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.pharmacy-status .clinic-name{
    font-weight: bold;
    font-size: larger;
}

div.pharmacy-status .clinic-status {
    font-weight: bold;
    font-size: x-large;
    color: rgb(29, 198, 29);
}

.list-view-header {
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgb(246, 252, 255);
    padding-top: 15px;
    padding-bottom: 15px;
}

.pharmacy-header {
    font-weight: bold;
    font-size: 15px;
}

.pharmacy-flu-help {
    background-color: #58A7DC;
    color: white;
}

div.pharmacy-flu-help {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.pharmacy-flu-help div:first-child div:nth-child(2) {
    font-size: 12px;
}

div.app-footer {
    font-size: 10px;
    margin: 8px;
}

.navbar-back {
    position: absolute;
    font-size: 15px;
    color: white;
    top: 13px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
}

div.app-footer div.col-xs-5 {
    padding-left: 0;
    padding-right: 0;
}

.time-lower {
    color: rgb(29, 198, 29);
}

.time-higher {
    color: rgb(245, 166, 35);
}

.time-danger {
    color: rgba(226, 112, 112, 1);
}

.flu-header{
    font-weight: bold;
    font-size: 17px;
}

.flu-subheader {
    font-weight: bold;
    font-size: 14px;
}

div.flu-summary {
    margin-top: 67px;
}

div.plan-summary {
    padding: 16px;
    border: 1px solid rgb(0, 121, 200);
    background-color: rgba(0, 121, 200, 0.09);
    border-radius: 5px;
}

.lighter {
    font-weight: lighter;
}

div.plan-summary div div:first-child {
    font-weight: bold;
}

div.plan-summary .amount {
    font-weight: bold;
    font-size: 21px;
    color: rgb(0, 121, 200);
}

div.flu-expect .info {
    padding-right: 26px;
    font-weight: lighter;
}

div.flu-expect div button:first-child {
    margin-right: 7px;
}

div.flu-expect div button:nth-child(2) {
    margin-left: 7px;
}

.flu-hr {
    border-top-color: rgb(206, 207, 207);
}

div.flu-find {
    background-color: rgb(223, 240, 250);
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

div.flu-find button {
    padding-right: 25px;
    padding-left: 25px;
}

div.flu-expect div.info div.col-xs-12 {
    margin-bottom: 7px;
}

.only-border-hr {
    margin-top: 0;
    margin-bottom: 0;
}

.flu-home {
    font-weight: bold;
    font-size: 17px;
    padding: 9px;
    background-color: rgb(232, 243, 250);
}

.right-arrow {
    top: 3px
}

.summary-right-arrow {
    top: 2px;
    font-size: 22px;
}


div.pharmacy-flu-help div button:first-child {
    margin-right: 7px;
}

div.pharmacy-flu-help div button:first-child img {
    margin-right: 5px;
}


div.pharmacy-info i, div.pharmacy-flu-help i  {
    margin-right: 7px;
}

div.pharmacy-detail {
    margin-top: 65px;
    margin-right: 5px;
    margin-left: 5px;
}

div.pharmacy-detail {
    margin-top: 65px;
    margin-right: 5px;
    margin-left: 5px;
}

div.row.pharmacy-detail-cta > div:first-child {
    padding-right: 0;
    padding-left: 0;
}

div.row.pharmacy-detail-cta > div:nth-child(2) {
    padding-right: 0;
}

div.pharmacy-detail .clinic-name {
    font-size: x-large;
}

div.container.pharmacy-detail-info > div:nth-child(2) > div.col-xs-5 {
    padding-left: 0;
}

div.container.pharmacy-detail-info > div:nth-child(2) > div.col-xs-5 p {
    margin-bottom: 0;
}

.p2 {
    padding-left: 2px;
    padding-right: 2px;
}

.icon-pat-blue {
    color: rgb(2, 132, 207);
}

.icon-pat-grey {
    color: rgb(177, 177, 177);
}

.icon-pat-dblue {
    color: rgb(0, 121, 200);
}

.mB5 {
    margin-bottom: 5px;
}

.ov {
    font-size: 1.5em !important;
}

#sched-modal > div > div > div.modal-body > div > div > div > div > table > tfoot {
    border-top-color: #428bca;
}

#sched-modal > div > div > div.modal-body > div > div > div > div > table > tfoot > tr > td {
    font-weight: bold;
}


.fa-walk {
  position: relative;
}
.fa-walk:after {
  background: white;
  bottom: 0;
  content: '';
  height: .435em;
  position: absolute;
  right: 0;
  width: .285em;
}

.slick-initialized {
    position: fixed !important;
    bottom: -2px;
    width: 100vw;
}

/* Only for iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
{
    div .pharmacy {
        font-size: 12px;
    }

    .pharmacy-header {
        padding-left: 0;
    }    
    
    #root > div > div > div.container.list-view > div:nth-child(2) > div.row.pharmacy-detail-cta > div > div > div:nth-child(3) > button {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}

.hover {
    cursor: pointer;
}
