<div class="jumbotron text-center">
	<h1>Crypto Currency World</h1>
	<h3>List of all currencies is as below: </h3>
	<br />
	<br />
	{{loadText}}
	<br/>

	<table style="width:100%">
		<tr align="left">
			<th>Currency Name</th>
			<th>Currency Code</th> 
			<th>Price (USD)</th>
			<th>Volume</th>
			<th>Market Capital</th>
			<th>Last Refreshed (UTC)</th>
			<th>Details</th>
		</tr>
		<tr ng-repeat="name in names" align="left">
			<td>{{name.currencyName}}</td>
			<td>{{name.currencyCode}}</td>
			<td>{{name.price}}</td>
			<td>{{name.volume}}</td>
			<td>{{name.marketCapital}}</td>
			<td>{{name.lastRefreshed}}</td>
			<td> <button ng-click="redirect(name.currencyCode)"> Get Data </button></td>
			<!-- <td> <a href="/stats" >Get more details</a></td> -->
		</tr>
	</table>
	<br />
	<br />
	<br />
	<br />
	<p>{{ tagline }}</p>
</div>
